//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	// border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 17px 20px;
	border: 1px solid #B6C4D2;
	border-radius: 8px;
	&._form-focus {
	}
	&._form-error {
	}
}
textarea.input {
	resize: none;
	padding: 0px 0px;
}

::placeholder {
	color: $mainDark;
	font-weight: 600;
	text-transform: uppercase;
	opacity: 1; /* Firefox */
 }
 
 ::-ms-input-placeholder { /* Edge 12 -18 */
	color: $mainDark;
	font-weight: 600;
	text-transform: uppercase;
 }

.record {
	::placeholder {
		color: rgba(255, 255, 255, 0.60);
		font-size: rem(14);
		font-weight: 600;
		text-transform: uppercase;
		opacity: 1; /* Firefox */
	 }
	 
	 ::-ms-input-placeholder { /* Edge 12 -18 */
		color: rgba(255, 255, 255, 0.60);
		font-size: rem(14);
		font-weight: 600;
		text-transform: uppercase;
	 }
}

input._form-error {
	border: 1px solid #E42D21;
}

.form__error {display: none;}