//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.input {
	// border-radius: 0 !important;
	width: 100%;
	display: block;
	padding: 17px 20px;
	border: 1px solid #B6C4D2;
	border-radius: 8px;
	&._form-focus {
	}
	&._form-error {
	}
}

.popup .input {
	background: #FAFAFB;
	font-size: rem(13);
}
input {
	outline: none;
}
.popup .input:focus-visible {
	
	border: 1px solid #3486D1 ;
	// background: #FFF;
}

textarea.input {
	resize: none;
	padding: 0px 0px;
}
.popup input[type='text']::placeholder {
		color: $mainDark;
	}

.record .input {
	color: #fff;
}

::placeholder {
	color: #dcdcdc;
	font-weight: 600;
	text-transform: uppercase;
	opacity: 1; /* Firefox */
 }
 
 ::-ms-input-placeholder { /* Edge 12 -18 */
	color: #dcdcdc;
	font-weight: 600;
	text-transform: uppercase;
 }

.record {
	::placeholder {
		color: rgba(255, 255, 255, 0.60);
		font-size: rem(14);
		font-weight: 600;
		text-transform: uppercase;
		opacity: 1; /* Firefox */
	 }
	 
	 ::-ms-input-placeholder { /* Edge 12 -18 */
		color: rgba(255, 255, 255, 0.60);
		font-size: rem(14);
		font-weight: 600;
		text-transform: uppercase;
	 }
}

input._form-error {
	border: 1px solid #E42D21;
	
}
.form__item {
	position: relative;
}

.form__error {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	color: red;
	font-size: rem(13);
	line-height: 1.5;
	padding-right: 16px;
}