// Заголовки, общие БЄМ блоки и проче...
.button {
	display: flex;
	padding: 18px 48px;
	justify-content: center;
	align-items: center;
	// gap: 8px;
	border-radius: 64px;
	background-color: $mainDark;
	color: #fff;
	@include adaptiveValue("font-size", 14, 10,1768,768,1);
	font-weight: 600;
	text-transform: uppercase;
	transition: background-color 0.3s;
	&:hover{
		background-color: #174977;
	}
}

.title {
	color: $mainDark;
	font-weight: 500;
	@include adaptiveValue("font-size", 96, 26,1548,768,1);
	line-height: 1.3;
	text-transform: uppercase;
}

.doctor {
	position: absolute;
	bottom: 53px;
	padding-left:22px;
	padding-right: 22px;
}

.doctor-title {
	display: inline-block;
		color: $mainDark;
		font-weight: 600;
		@include adaptiveValue("font-size", 24, 12,1548,768,1);
		text-transform: uppercase;
		line-height: 1.66;
		@include adaptiveValue("margin-bottom", 22, 8,1548,768,1);
		@media (max-width:$mobile){
			 line-height: 1.5; 
		}
}

.doctor-subtitle {
	@include adaptiveValue("font-size", 20, 12,1548,768,1);
	color: #54646D;
}

.doctor-img {
	
	transform: translateY(-12px);
	padding: 0px 27px;
	padding-bottom: 70px;
	img {
		
		width: 100%;
	}
	&::after{
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.7;
		border-radius: 32px;
		background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 34.7%, rgba(255, 255, 255, 0.00) 100%);
		backdrop-filter: blur(12px);
		z-index: -1;
		transform: translateY(12px);
	}
}