//====================================================================================================
.header {
	padding: 16px 0px;
	border-radius: 0px 0px 32px 32px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.30);
	background: rgba(15, 10, 10, 0.05);
	backdrop-filter: blur(2px);
	position: relative;
	 z-index: 2;
	 &::after{
		content:'';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@media (min-width:$tablet){
			 z-index: -1; 
		}
		.menu-open & {
			background: rgba(255, 255, 255, 0.20);
			backdrop-filter: blur(4px);
		}
	}
	.menu-open & {
		backdrop-filter: initial;
		// z-index: -1;
	}
	
	&__container {
		header & {
			max-width: 1768px;
		}
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media (max-width:$tablet){
			justify-content: flex-start;
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 16, 10,1768,350,1);
		@media (max-width:$pc){
			//  flex-wrap: wrap; 
		}
		@media (max-width:$tablet){
			flex: 1 0 auto;
			position: relative;
			z-index: 5;
		}
	}

	&__menu {
	}

	&__button {
		@media (max-width:$tablet){
			position: relative;
			z-index: 2;
			.menu-open & {
				position: relative;
				z-index: -1;
			}
		}
		
		&_text1 {
			@media (max-width:$tablet){
				 display: none; 
			}
		}
		&_text2 {
			@media (min-width:$tablet){
				 display: none; 
			}
		}
		@media (max-width:$tablet){
			padding: 13px 35px;
		}
	}
}
.menu {

	&__icon {
	}

	&__body {
		@media (max-width: $tablet) {
			position: fixed;
			width: 85%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background-color: $mainDark;
			padding: rem(100) rem(20) rem(50) rem(20);
			transition: left 0.3s ease 0s;
			z-index: 4;
			&::before {
				content: "";
				position: fixed;
				width: 85%;
				height: 71px;
				left: -100%;
				top: 0;
				background-color: $mainDark;
				transition: left 0.3s;
			}
			.menu-open & {
				left: 0;
				display: flex;
				// height: 100%;
				flex-direction: column;
				justify-content: space-between;
				&::before {
					left: 0;
				}
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue("column-gap", 36, 10,1768,768,1);
		row-gap: 20px;
		padding: 0px 10px;
		@media (max-width: em(1300)){
			  justify-content: center;
		}
		@media (max-width:$tablet){
			row-gap: 24px;
			flex-direction: column;
			align-items: flex-start;
			padding: 0;
			// position: relative;
			// z-index: 50;
		}
	}

	&__item {

		&_social {
			@media (min-width:$tablet){
				 display: none; 
			}
		}
	}

	&__link {
		font-weight: 500;
		text-transform: uppercase;
		color: $mainDark;
		font-size: rem(14);
		transition: color 0.3s;
		&:hover{
			color: #156D9E;
		}
		@media (max-width:$tablet){
			color: #fff;
		}
	}
}
.icon-menu {
}
.logo-header {

	&__img {
	}

	&__text {
		color: #1D334C;
		font-weight: 600;
		line-height: math.div(24 , 24);
		white-space: nowrap;
		@include adaptiveValue("font-size", 24, 14.7,1768,768,1);
		text-transform: uppercase;
		.menu-open & {
			color: #fff;
		}
	}
}
.menu-social {

	&__link {
		&:not(:last-child) {
			margin-right: 16px;
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		margin-right: 1.25rem;
		position: relative;
		width: rem(20);
		height: rem(16);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: $mainDark;
			.menu-open & {
				background-color: white;
			}
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

