.page {

	&__main-block {
		position: relative;
		// z-index: 2;
		margin-top: 120px;
		@media (max-width:$tablet){
			margin-top: 60px;
		}
		@media (max-width:$mobile){
			 margin-top: 30px; 
		}
		// @include adaptiveValue("margin-bottom", 360, 80,1548,768,1);
	}

	&__reasons {
		background: url('@img/reason/bg1.png') bottom / cover no-repeat;
		padding-top: 120px;
		//  @include adaptiveValue("margin-top", 360, 80,1548,768,1);
		position: relative;
		z-index: 21;
		@media (max-width:$tablet){
			margin-top: 80px;
			padding-top: 0;
		}
	}

	&__programs {
		@include adaptiveValue("margin-top", 300, 70,1548,768,1);
	}

	&__trenings {
		@include adaptiveValue("margin-top", 150, 86,1548,768,1);
	}

	&__team {
		@include adaptiveValue("margin-top", 328, 86,1548,768,1);
	}

	&__record {
		@include adaptiveValue("margin-top", 328, 86,1548,768,1);
	}
}

//=============main-block=======================================================================================

.main-block {
	@media (max-width:$tablet){
		.menu-open & {
			position: relative;
			z-index: -1;
		}
	}
		//  height: 1000px;
	&__container {
		display: flex;
		align-items: flex-start;
		position: relative;
		// outline: 1px solid greenyellow;
		// position: relative;
		@media (min-width:em(2100)){
			  padding-bottom: 100px;
		}
		@media (max-width:$tablet){
			display: flex;
			
		}
		@media (max-width:$mobile){
			 flex-direction: column;
			 align-items: initial;
		}
		// display: flex;
		// @include adaptiveValue("column-gap", 123, 40,1548,768,1);
	}

	&__doctor-data {
		@include adaptiveValue("width", 428, 223,1548,768,1);
		// border-radius: 32px;
		// border: 1px solid #FFF;
		
		@media (min-width:$mobile){
			// display: inline-block;
			// margin-right: 120px;
			position: sticky;
			top: 25px;
			.page__main-block._watcher-view & {
				// position: fixed;
				// top: 205px;
				@media (max-width:$tablet){
					top: 150px;
				}
			}
		}

		
		@media (max-width:$mobile){
			position: relative;
			margin: 0 auto;
			// bottom: 0;
			// margin-top: 30px;
			margin-bottom: 40px;
		}
		// &::after{
		// 	content:'';
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	opacity: 0.7;
		// 	border-radius: 32px;
		// 	background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 34.7%, rgba(255, 255, 255, 0.00) 100%);
		// 	backdrop-filter: blur(12px);
		// 	z-index: -1;
		// }
		
		&::after{
			content:'';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border-radius: 32px;
			border: 1px solid rgba(255, 255, 255, 0.30);
			z-index: -1;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 34.7%, rgba(255, 255, 255, 0.00) 100%);
			backdrop-filter: blur(12px);
		}
	}

	&__content {
		// outline: 1px solid red;
		position: relative;
		z-index: 2;
		margin-left: auto;
		// width: 64%;
		// outline: 1px solid red;
		// @include adaptiveValue("width", 970, 461,1920,991.98,1);
		// margin-left: auto;
		
		@media (max-width:$tablet){
			.menu-open & {
				z-index: -1;
			}
			// margin-left: 15px;
		}
		@media (min-width:$tablet){
			//   display: inline-block;
		}
		@media (max-width:$mobile){
			 margin-left: 0;
			 width: 100%;
		}
		@media (min-width:$mobile){
			 flex: 0 0 64.018088%; /* 991/1548 */
		}
		
	}

	&__title {
		// outline: 1px solid red;
		font-weight: 500;
		@include adaptiveValue("font-size", 154, 56,1920,768,1);
		line-height: 1.5;
		color: $mainDark;
		@media (min-width:$tablet){
			 &:not(:last-child) {margin-bottom: 50px;} 
		}
		@media (max-width:$mobile){
			 text-align: center; 
		}
	}

	&__subtitle {
		display: block;
		color: #364751;
		font-weight: 300;
		line-height: 1.5;
		@media (max-width:$mobile){
			// text-align: center;
			 br {display: none;} 
		}
		@include adaptiveValue("font-size", 32, 16,1548,768,1);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 67, 17,1548,768,1);
		}
	}

	&__button {
		@media (max-width:$mobile){
			 width: 100%; 
		}
		@include adaptiveValue("margin-bottom", 350, 50,1548,768,1);
	}

	&__aboutproject {
	}

	&__decor {
		position: absolute;
		z-index: -1;
		top: 40px;
		left: -58px;
		img {
			width: 100%;
		}
	}
}
.doctor-data {

	&__content {
		// position: absolute;
		// bottom: 12px;
		// padding-left:22px;
		// padding-right: 22px;
		// @include adaptiveValue("padding-bottom", 61, 26,1548,768,1);
	}

	&__img {
		// transform: translateY(-12px);
		// padding: 0px 27px;
		// padding-bottom: 70px;
		// img {
		// 	width: 100%;
		// }
	}

	&__title {
		// display: inline-block;
		// color: $mainDark;
		// font-weight: 600;
		// @include adaptiveValue("font-size", 24, 12,1548,768,1);
		// text-transform: uppercase;
		// line-height: 1.66;
		// @include adaptiveValue("margin-bottom", 22, 8,1548,768,1);
		// @media (max-width:$mobile){
		// 	 line-height: 1.5; 
		// }
	}

	&__subtitle {
		// @include adaptiveValue("font-size", 20, 12,1548,768,1);
		// color: #54646D;
	}
}

.aboutproject {

	&__title {
		font-weight: 500;
		text-transform: uppercase;
		line-height: math.div(48 , 16);
		@include adaptiveValue("font-size", 16, 12,1548,768,1);
		&:not(:last-child) {margin-bottom: 24px;}
	}

	&__text {
		font-weight: 300;
		color: #364751;
		line-height: 1.5;
		@include adaptiveValue("font-size", 32, 16,1548,768,1);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 35,1548,768,1);
		}
	}

	&__advantages {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__advantage {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 38, 16,1548,768,1);
	}

	&__degrees {
		font-weight: 500;
		@include adaptiveValue("font-size", 96, 24,1548,768,1);
		// line-height: 1.5;
		text-transform: uppercase;
	}

	&__signature {
		color: #364751;
		@include adaptiveValue("font-size", 16, 11,1548,768,1);
		@media (max-width:$mobile){
			 font-weight: 300; 
		}
		text-transform: uppercase;
	}
}

//=========REASONS===========================================================================================

.reasons {

	&__title {
		padding-right: 400px;
		@media (max-width:$tablet){
			padding-right: 36%;
		}
		@include adaptiveValue("margin-bottom", 186, 40,1548,768,1);
	}

	&__content {
		display: flex;
		align-items: stretch;
		
		
		@include adaptiveValue("padding-bottom", 300, 60,1548,768,1);
		gap: 20px;
		@media (min-width:$mobile){
			flex-wrap: wrap;
			justify-content: space-around; 
		}
		@media (max-width:$tablet){
			 gap: 11px;
		}
		@media (max-width:$mobile){
			overflow-x: auto;
			margin: 0px -15px;
		}
	}

	&__item {
		// flex: 0 0 18.93%;
		flex: 0 0 290px;
		padding: 44px 36px;
		border-radius: 24px;
		border: 1px solid #FFF;
		background: rgba(255, 255, 255, 0.60);
		backdrop-filter: blur(4px);
		@media (max-width:$mobile){
			 padding: 24px;
			 flex: 0 0 50%;
		}
		@media (max-width:$mobileSmall){
			 flex: 0 0 72.3%; 
		}
	}

	&__text {
		font-weight: 500;
		color: #394E65;
		line-height: 1.333;
		@include adaptiveValue("font-size", 18, 14,1548,768,1);
	}
}
.reason {

	&__container {
		@media (max-width:$pc){
			// padding: 0px 0px;
		}
	}
}



/*=======PROGRAMS===============*/

.programs {
	
	&__container {
		position: relative;
		@media (min-width:$tablet){
			  padding-right: 0;
		}
		
	}

	&__decor {
		position: absolute;
		top: -100px;
		right: 0;
		img {
			width: 100%;
			height: auto;
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__title {
		position: relative;
		@include adaptiveValue("margin-bottom", 100, 40,1548,768,1);
	}

	&__slider {
		width: 100%;
		
		@media (min-width:$pc){
			  padding-left: 40%;
		}
		@media (min-width:$tablet){
			 padding-left: 30%; 
		}
		@media (max-width:$tablet){
			// padding-left: 20%;
		}
		@media (max-width:$mobile){
			//  padding-left: 10%; 
		}
	}

	&__swiper {
		display: flex;
		gap: 24px;
		max-width: 100%;
		padding: 0px 15px;
		@media (max-width:$tablet){
			flex-wrap: wrap;
			justify-content: center;
			row-gap: 16px;
		}
		@media (max-width:$tablet){
			column-gap: 16px;
		}
		@media (max-width:$mobile){
			 column-gap: 10px; 
		}
	}

	&__slide {
		// background-color: #174977;
		flex: 0 0 500px;
		@media (max-width:$tablet){
			 flex: 0 0 48.3%;
		}
		@media (max-width:$mobileSmall){
			  flex: 0 0 100%; 
		}
	}

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 25px;
		@media (max-width:$mobile){
			 column-gap: 10px; 
		}
	}

	&__item {
		height: 100%;
		// flex: 0 0 32.3%;
		border-radius: 32px;
		
		overflow: hidden;
		display: flex;
		flex-direction: column;
		
		cursor: pointer;
		&:hover{
			.item-programs__img::after{
				background-color: #174977;
			}
			.item-programs__content {
				background-color: #174977;
			}
		}
		@media (max-width:$mobile){
			//  flex: 0 0 72.222222%; /* 260/360 */
		}
		
	}
}

.item-programs {

	&__img {
		position: relative;
		img {
			width: 100%;
			height: auto;
		}
		&::after{
			content:'';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 5.2%;
			background-color: #1D334C;
			transition: background-color 0.3s;
			z-index: -1;
		}
	}

	&__content {
		background-color: #1D334C;
		transition: background-color 0.3s;
		padding:64px 56px;
		height: inherit;
		@media (max-width:$tablet){
			padding: 50px 46px;
		}
		@media (max-width:$mobile){
			 padding: 30px 36px; 
		}
	}

	&__text {
		color: #FFF;
		font-weight: 600;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 24, 14,1548,768,1);
		line-height: 40px;
		@media (max-width:$mobile){
			 line-height: 20px; 
		}
	}
}
.space {
	@media (min-width:$tablet){
		  position: relative;
	width: 100%;
	}
	@media (max-width:$tablet){
		 height: initial !important; 
	}
}

.sticky {
	@media (min-width:$tablet){
		  position: sticky;
    top: 25px;
    width: 100%;
    height: 75vh;
	}
	
   //  overflow-x: hidden;
}

.horizontal {
	@media (min-width:$tablet){
		  height: 100%;
    will-change: transform;
	 display: flex;
	 left: 0;
	 right: 0;
	 position: absolute;
	}
	@media (max-width:$tablet){
		 transform: translateX(0) !important; 
	}
	
    
   //  align-items: flex-end;
}
/*=======TRENINGS===============*/


.trenings {

	&__container {
		
	}

	&__how {
		position: relative;
		display: flex;
		align-items: flex-start;
		// align-items: flex-end;
		@media (max-width:$mobile){
			 flex-direction: column; 
		}
	}

	&__quantity {
	}

	&__item {
		display: flex;
		@include adaptiveValue("padding", 92, 30,1548,768,1);
		column-gap: 57px;
		border-radius: 32px;
		border: 1px solid #FFF;
		background: rgba(255, 255, 255, 0.65);
		@media (max-width:$mobile){
			 flex-direction: column-reverse; 
		}
		&:not(:last-child) {
			margin-bottom: 40px;
			@media (max-width:$mobile){
				 margin-bottom: 14px; 
			}
		}

		&_rewerse {
			flex-direction: row-reverse;
			@media (max-width:$mobile){
				 flex-direction: column-reverse; 
			}
		}
	}
}
.how {

	&__decor {
		position: absolute;
		z-index: -1;
		right: -0%;
		left: 47%;
		top: 0;
		img {
			// width: 100%;
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__content {
		flex: 0 0 52.002584%; /* 805/1548 */
		@media (min-width:$mobile){
			 margin-top: 120px; 
		}
	}

	&__title {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 36,1548,768,1);
		}
	}

	&__text {
		font-weight: 300;
		color: #364751;
		@include adaptiveValue("font-size", 32, 16,1548,768,1);
		line-height: 1.5;
		&:not(:last-child) {margin-bottom: 48px;}
		padding-right: 40px;
		@media (max-width:$mobile){
			 padding-right: 0;
			//  margin-bottom: 0;
		}
	}

	&__doctor {
		padding-left: 0;
		padding-right: 0px;
		position: static;
		@media (min-width:$mobile){
			  padding-bottom: 20px;
		}
		@media (max-width:$mobile){
			 position: absolute;
			 right: 0;
			 border-radius: 16px;
			border: 1px solid #FFF;
			padding: 16px;
			background: rgba(255, 255, 255, 0.60);
			backdrop-filter: blur(3.5286102294921875px);
		}
	}

	&__name {
		margin-bottom: 0;
		display: block;
		&:not(:last-child) {margin-bottom: 8px;}
	}

	&__subtitle {
	}

	&__img {
		@media (min-width:$mobile){
			 align-self: flex-end; 
		}
		@media (max-width:$mobile){
			 position: relative;
			 
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}
.doctor {
}

.item-trenings {

	&__content {
		flex: 0 0 46.632504%; /* 637/1366 */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__title {
		font-weight: 500;
		@include adaptiveValue("font-size", 48, 22,1548,768,1);
		line-height: 1.5;
		text-transform: uppercase;
	}

	&__text {
		color: #394E65;
		font-weight: 300;
		@include adaptiveValue("font-size", 20, 14,1548,768,1);
		line-height: 1.5;
		padding: 10px 0px;
		padding: 20px 0px 30px 0px;
	}

	&__button {
		@media (max-width:$mobile){
			 width: 100%; 
		}
	}

	&__img {
		flex: 0 0 49.194729%; /* 672/1366 */
		// border-radius: 32px;
		// overflow: hidden;
		@media (max-width:$mobile){
			 margin-bottom: 30px;
		}
		img {
			border-radius: 32px;
			width: 100%;
			height: auto;
			overflow: hidden;
		}
	}
}
.individual {
}


/*=======TEAM===============*/


.team {

	&__container {
		position: relative;
	}

	&__title {
		@include adaptiveValue("margin-bottom", 80, 48,1548,768,1);
	}

	&__decor {
		position: absolute;
		right: 0;
		top: -20%;
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__content {
	}

	&__item {
		
		position: relative;
		cursor: pointer;
		border-radius: 32px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		&::after{
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.7;
			border-radius: 32px;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 34.7%, rgba(255, 255, 255, 0.00) 100%);
			backdrop-filter: blur(12px);
			z-index: -1;
		// transform: translateY(12px);
		}
		&:hover{
			&::after {
				background: linear-gradient(0deg, rgba(255, 255, 255, 0.70) 34.7%, rgba(255, 255, 255, 0.00) 100%);
			}
		}
	}

	&__title-name {
		display: block;
		margin-bottom: 0;
		transition: color 0.3s;
		@include adaptiveValue("margin-bottom", 22, 8,1548,768,1);
		.team__item:hover & {
			color: #156D9E;
		}
	}

	&__doctor-img {
		padding-bottom: 0;
		position: relative;
		// .team__item:hover &{
		// 	&::after{
		// 		content:'';
		// 	}
		// }
		img {
			// object-fit: contain;
		}
		@media (min-width:em(1268)){
			  
		}
		@media (min-width:$mobile){
			  aspect-ratio: 428/648;
		}
		@media (max-width:$mobile){
			aspect-ratio: 428/643;
			width: initial;
		}
	}

	&__slider {
		width: 100%;
		@media (min-width:$pc){
			  padding-left: 40%;
		}
		@media (min-width:$tablet){
			padding-left: 30%; 
		}
		@media (max-width:$tablet){
			// padding-left: 20%;
		}
		@media (max-width:$mobile){
			//  padding-left: 10%; 
		}
	}

	&__swiper {
		// align-items: stretch;
		display: flex;
				gap: 48px;
				max-width: 100%;
				padding: 0px 15px;
				
				
				@media (max-width:$tablet){
					// flex-direction: column;
					gap: 26px;
						  flex-wrap: wrap;
				justify-content: center;
				}
				@media (max-width:$mobile){
					gap: 20px; 
				}
	}

	&__slide {
		// height: 100%;
		flex: 0 0 428px;
		@media (max-width:$tablet){
			 flex: 0 0 48.3%;
		}
		@media (max-width:$mobileSmall){
			 flex: 0 0 100%; 
		}
	}

	&__doctor {
		// position: relative;
		width: 100%;
		@include adaptiveValue("padding-left", 52, 20,1548,768,1);
	}

	&__title {
	}

	&__subtitle {
	}
}
.doctor-img {
}

/*=======RECORD===============*/


.record {
	border-radius: 64px 64px 0 0;
	position: relative;
	overflow: hidden;
	@media (min-width:$mobile){
			background: url('@img/record/bg.png') 0 0 / cover no-repeat;
		}
	@media (max-width:$mobile){
		  background: #1D334C;
	}
	&__decor {
		position: absolute;
		left: -319px;
		top: -77px;
		transform: rotate(352deg);
		@media (max-width:$tablet){
			left: initial;
			width: 300px;
			right: -53px;
			top: -53px;
			transform: rotate(52deg);
		}

		
		@media (max-width:$mobile){
			
			width: 220px;
		}
		@media (max-width:$mobileSmall){
			right: -37px;
			top: -37px;
			width: 160px;
			
		}
		// @include adaptiveValue("width", 637,160,1548,768,1 );
		img {
			width: 100%;
			height: auto;
		}
		
	}
	@media (max-width:$mobile){
		border-radius: 16px 16px 0 0;
		overflow: hidden;
	}
	&__container {
		@include adaptiveValue("padding-top", 160, 50,1548,768,1);
		@include adaptiveValue("padding-bottom", 170, 40,1548,768,1);
	}

	&__title {
		color: #FFF;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 34,1548,768,1);
		}
	}

	&__text {
		color: rgba(255, 255, 255, 0.70);
		line-height: 1.5;
		@include adaptiveValue("font-size", 18, 14,1548,768,1);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 48, 34,1548,768,1);
		}
		&_politica {
			color: rgba(255, 255, 255, 0.40);
			@include adaptiveValue("font-size", 14, 12,1548,768,1);
		}
	}

	&__form {
		position: relative;
		.form__item {
			display: inline-block;
			@media (max-width:$mobile){
				 display: block;
				 &:not(:last-child) {margin-bottom: 14px;}
			}
			& .form__error {
				right: 17px;
			}
		}
	}

	&__input {
		display: inline-block;
		@include adaptiveValue("width", 428, 300,1548,768,1);
		border: 1px solid #2C4867;
		background: #0F2237;
		color: rgba(255, 255, 255, 0.60);

		@media (max-width:$mobile){
			// display: block;
			 width: 100%; 
		}
		@media (min-width:$mobile){
			 &:not(:last-child) {margin-right: 17px;} 
		}
		&:not(:last-child) {
			// @include adaptiveValue("margin-bottom", 48, 17,1548,768,1);
		}
	}

	&__actions {
		 @include adaptiveValue("margin-top", 48, 17,1548,768,1);
		display: flex;
		align-items: center;
		gap: 36px;
		@media (max-width:$mobile){
			 flex-direction: column-reverse; 
		}
	}

	&__button {
		background-color: #fff;
		color: $mainDark;
		transition:background-color 0.3s;
		&:hover{
			background-color:#ADE6FF;
		}
	}

	&__politica-link {
		color: #87BCE9;
	}
}

