.page {

	&__main-block {
		position: relative;
		// z-index: 2;
		margin-top: 120px;
		@media (max-width:$tablet){
			margin-top: 60px;
		}
		@media (max-width:$mobile){
			 margin-top: 30px; 
		}
		// @include adaptiveValue("margin-bottom", 360, 80,1548,768,1);
	}

	&__reasons {
		background: url('@img/reason/bg1.png') bottom / cover no-repeat;
		padding-top: 120px;
		//  @include adaptiveValue("margin-top", 360, 80,1548,768,1);
		position: relative;
		z-index: 21;
		@media (max-width:$tablet){
			margin-top: 80px;
			padding-top: 0;
		}
	}

	&__programs {
		@include adaptiveValue("margin-top", 300, 70,1548,768,1);
	}

	&__trenings {
		display: none;
	}

	&__team {
		display: none;
	}

	&__record {
		display: none;
	}
}

//=============main-block=======================================================================================

.main-block {
		//  height: 1000px;
	&__container {
		outline: 1px solid greenyellow;
		position: relative;
		@media (max-width:$tablet){
			display: flex;
			align-items: flex-start;
		}
		@media (max-width:$mobile){
			 flex-direction: column;
			 align-items: initial;
		}
		// display: flex;
		// @include adaptiveValue("column-gap", 123, 40,1548,768,1);
	}

	&__doctor-data {
		
		
		// position: sticky;
		// flex: 0 0 27.648579%; /* 428/1548 */
		
		// width: 426px;
		@include adaptiveValue("width", 428, 223,1548,768,1);
		border-radius: 32px;
		border: 1px solid #FFF;
		
		@media (min-width:$tablet){
			display: inline-block;
			margin-right: 120px;
			position: sticky;
			
		}
		@media (min-width:$pc){
			  bottom: 240px;
		}
		@media (max-width:$pc){
			 bottom: 40px; 
		}
		@media (max-width: em(1000)){
			  bottom: 80px;
		}
		@media (max-width:$tablet){
			position: relative;
			bottom: 0;
		}
		@media (max-width:$mobile){
			position: relative;
			margin: 0 auto;
			// bottom: 0;
			// margin-top: 30px;
			margin-bottom: 40px;
		}
		&::after{
			content:'';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			
			border-radius: 32px;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.30) 34.7%, rgba(255, 255, 255, 0.00) 100%);
			backdrop-filter: blur(12px);
			z-index: -1;
		}
		
	}

	&__content {
		outline: 1px solid red;
		position: relative;
		z-index: 2;
		width: 64%;
		// outline: 1px solid red;
		@include adaptiveValue("width", 970, 461,1920,991.98,1);
		// margin-left: auto;
		
		@media (max-width:$tablet){
			margin-left: 15px;
		}
		@media (min-width:$tablet){
			  display: inline-block;
		}
		@media (max-width:$mobile){
			 margin-left: 0;
			 width: 100%;
		}
		// flex: 0 0 64.018088%; /* 991/1548 */
	}

	&__title {
		outline: 1px solid red;
		font-weight: 500;
		@include adaptiveValue("font-size", 154, 56,1920,768,1);
		line-height: 1.5;
		color: $mainDark;
		@media (min-width:$tablet){
			 &:not(:last-child) {margin-bottom: 50px;} 
		}
		@media (max-width:$mobile){
			 text-align: center; 
		}
	}

	&__subtitle {
		display: block;
		color: #364751;
		font-weight: 300;
		line-height: 1.5;
		@media (max-width:$mobile){
			// text-align: center;
			 br {display: none;} 
		}
		@include adaptiveValue("font-size", 32, 16,1548,768,1);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 67, 17,1548,768,1);
		}
	}

	&__button {
		@media (max-width:$mobile){
			 width: 100%; 
		}
		@include adaptiveValue("margin-bottom", 350, 50,1548,768,1);
	}

	&__aboutproject {
	}

	&__decor {
		position: absolute;
		z-index: -1;
		top: 40px;
		left: -58px;
		img {
			width: 100%;
		}
	}
}
.doctor-data {

	&__content {
		// position: absolute;
		// bottom: 12px;
		// padding-left:22px;
		// padding-right: 22px;
		// @include adaptiveValue("padding-bottom", 61, 26,1548,768,1);
	}

	&__img {
		// transform: translateY(-12px);
		// padding: 0px 27px;
		// padding-bottom: 70px;
		// img {
		// 	width: 100%;
		// }
	}

	&__title {
		// display: inline-block;
		// color: $mainDark;
		// font-weight: 600;
		// @include adaptiveValue("font-size", 24, 12,1548,768,1);
		// text-transform: uppercase;
		// line-height: 1.66;
		// @include adaptiveValue("margin-bottom", 22, 8,1548,768,1);
		// @media (max-width:$mobile){
		// 	 line-height: 1.5; 
		// }
	}

	&__subtitle {
		// @include adaptiveValue("font-size", 20, 12,1548,768,1);
		// color: #54646D;
	}
}

.aboutproject {

	&__title {
		font-weight: 500;
		text-transform: uppercase;
		line-height: math.div(48 , 16);
		@include adaptiveValue("font-size", 16, 12,1548,768,1);
		&:not(:last-child) {margin-bottom: 24px;}
	}

	&__text {
		font-weight: 300;
		color: #364751;
		line-height: 1.5;
		@include adaptiveValue("font-size", 32, 16,1548,768,1);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 50, 35,1548,768,1);
		}
	}

	&__advantages {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__advantage {
		display: flex;
		flex-direction: column;
		@include adaptiveValue("row-gap", 38, 16,1548,768,1);
	}

	&__degrees {
		font-weight: 500;
		@include adaptiveValue("font-size", 96, 24,1548,768,1);
		// line-height: 1.5;
		text-transform: uppercase;
	}

	&__signature {
		color: #364751;
		@include adaptiveValue("font-size", 16, 11,1548,768,1);
		@media (max-width:$mobile){
			 font-weight: 300; 
		}
		text-transform: uppercase;
	}
}

//=========REASONS===========================================================================================

.reasons {

	&__title {
		padding-right: 400px;
		@media (max-width:$tablet){
			padding-right: 36%;
		}
		@include adaptiveValue("margin-bottom", 186, 40,1548,768,1);
	}

	&__content {
		display: flex;
		align-items: stretch;
		// overflow-x: auto;
		
		@include adaptiveValue("padding-bottom", 300, 60,1548,768,1);
		gap: 20px;
		@media (min-width:$mobile){
			flex-wrap: wrap;
			justify-content: space-around; 
		}
		@media (max-width:$tablet){
			 gap: 11px;
			
		}
	}

	&__item {
		// flex: 0 0 18.93%;
		flex: 0 0 290px;
		padding: 44px 36px;
		border-radius: 24px;
		border: 1px solid #FFF;
		background: rgba(255, 255, 255, 0.60);
		backdrop-filter: blur(4px);
		@media (max-width:$mobile){
			 padding: 24px;
			 flex: 0 0 50%;
		}
		@media (max-width:$mobileSmall){
			 flex: 0 0 72.3%; 
		}
	}

	&__text {
		font-weight: 500;
		color: #394E65;
		line-height: 1.333;
		@include adaptiveValue("font-size", 18, 14,1548,768,1);
	}
}
.reason {

	&__container {
		@media (max-width:$pc){
			padding-right: 0;
		}
	}
}



/*=======PROGRAMS===============*/

.programs {
	
	&__container {
		position: relative;
		padding-right: 0;
	}

	&__decor {
		position: absolute;
		top: -100px;
		right: 0;
		img {
			width: 100%;
			height: auto;
		}
		@media (max-width:$mobile){
			 display: none; 
		}
	}

	&__title {
		position: relative;
		@include adaptiveValue("margin-bottom", 100, 40,1548,768,1);
	}

	&__content {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 25px;
		@media (max-width:$mobile){
			 column-gap: 10px; 
		}
	}

	&__item {
		height: 100%;
		// flex: 0 0 32.3%;
		border-radius: 32px;
		background: #1D334C;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		transition: background-color 0.3s;
		&:hover{
			background-color: #174977;;
		}
		@media (max-width:$mobile){
			//  flex: 0 0 72.222222%; /* 260/360 */
		}
	}
}

.item-programs {

	&__img {
		img {
			width: 100%;
			height: auto;
		}
	}

	&__content {
		padding:64px 56px;
		@media (max-width:$tablet){
			padding: 50px 46px;
		}
		@media (max-width:$mobile){
			 padding: 30px 36px; 
		}
	}

	&__text {
		color: #FFF;
		font-weight: 600;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 24, 14,1548,768,1);
		line-height: 40px;
		@media (max-width:$mobile){
			 line-height: 20px; 
		}
	}
}

/*=======TRENINGS===============*/


.trenings {

	&__container {
	}

	&__how {
	}

	&__quantity {
	}

	&__item {

		&_rewerse {
		}
	}
}
.how {

	&__decor {
	}

	&__content {
	}

	&__title {
	}

	&__text {
	}

	&__doctor {
	}

	&__subtitle {
	}

	&__img {
	}
}
.doctor {
}

.item-trenings {

	&__content {
	}

	&__title {
	}

	&__text {
	}

	&__button {
	}

	&__img {
	}
}
.individual {
}


/*=======TEAM===============*/


.team {

	&__container {
	}

	&__decor {
	}

	&__content {
	}

	&__title {

	}

	&__item {
	}

	&__doctor-img {
	}

	&__doctor {
	}

	&__title {
	}

	&__subtitle {
	}
}
.doctor-img {
}

/*=======RECORD===============*/


.record {

	&__container {
	}

	&__title {
	}

	&__text {

		&_politica {
		}
	}

	&__form {
	}

	&__input {
	}

	&__actions {
	}

	&__button {
	}

	&__politica-link {
	}
}

